<%# app/views/admin/memberships/new.html.erb %>
<div class="container mt-4">
  <h2>New Membership</h2>

  <%= form_with model: [:admin, @membership], local: true do |f| %>
    <%= render "form", f: f %>

    <div class="mt-3">
      <%= f.submit "Create Membership", class: "btn btn-primary" %>
      <%= link_to "Back", admin_memberships_path, class: "btn btn-secondary ms-2" %>
    </div>
  <% end %>
</div>
