default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: rebidx_development

test:
  <<: *default
  database: rebidx_test

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
